/* .App {
  font-family: 'Mukta', sans-serif;
  text-align: center;
}

div {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1{
  background-image: linear-gradient(90deg, #e27396, #d264b6, #a480cf, #779be7);
  background-clip: text;
  color: transparent;
  font-size: 50px;
  font-weight: bold;
}

p{
  background-color: #c7f9cc;
  font-weight: bold;
  font-size: 13px;
  color: #31572c;
  border-radius: 10px;
  margin: 0 570px 25px 570px;
  padding: 20px 0 20px 0;
}

button{
  background-color: #e27396;
  padding: 10px;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  margin: 5px;
}

button:hover{
  cursor: pointer;
}

input{
  background-color: #e9ecef;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

input:hover{
  background-color: #dee2e6;
} */
